.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 12px;
}

a {
    color: #ffffff;
}

.cart-count{
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 10px;
}