<div class="container my-5" *ngIf="products; else other_content">
    <div class="row" *ngIf="products.length > 0; else other_content">
        <div class="col-lg-3 col-md-6 my-4" *ngFor="let product of products">
            <img [src]="product?.url" class="img-fluid" alt="">
            <div class="d-flex justify-content-between align-items-center mt-3">
                <div>
                    <b>{{product?.name}}</b>
                    <div>
                        <b>{{product.price | currency}}</b>
                    </div>
                </div>
                <div>
                    <input #counter type="number" max="5" min="1"  onkeydown="return false" (change)="changeQty(product,counter)" [value]="product?.qty" class="form-control ml-auto">
                </div>
            </div>
            <button class="btn btn-danger btn-block mt-2" (click)="DeleteProduct(product)">Delete Product</button>
        </div>
    </div>
    <h1 *ngIf="products.length > 0">Grand Total: <span>{{total.toFixed(2)}}</span></h1>
    <div *ngIf="products.length > 0" style="border: 2px solid rgb(100, 184, 227);padding: 30px;">
        <h2>Checkout Form</h2>
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <!-- Name -->
            <div>
                <input type="text" required  minlength="3" #name="ngModel" name="name" (ngModel)="name" (ngModelChange)="name"  class="form-control my-2" placeholder="FULL NAME">
                <span class="text-danger" *ngIf="name.errors?.required && (name.touched || name.dirty)">This field is required*</span>
                <span class="text-danger" *ngIf="name.errors?.minlength && (name.touched || name.dirty)">Min length 3 chars</span>
            </div>
            <!-- Address -->
            <div>
                <input type="text" required #address="ngModel" name="address" (ngModel)="address" (ngModelChange)="address" class="form-control my-2" placeholder="ADDRESS">
                <span class="text-danger" *ngIf="address.errors?.required && (address.touched || address.dirty)">This field is required*</span>
            </div>
            <!-- Credit Card -->
            <div>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" required  maxlength="14" minlength="14" name="creditCard" #creditCard="ngModel" (ngModel)="creditCard" (ngModelChange)="creditCard" class="form-control my-2" placeholder="CREDIT CARD">
                <span class="text-danger" *ngIf="creditCard.errors?.required && (creditCard.touched || creditCard.dirty)">This field is required*</span>
                <span class="text-danger" *ngIf="creditCard.errors?.minlength && (creditCard.touched || creditCard.dirty)">Min length 14 numbers</span>
            </div>

            <button class="btn btn-block btn-primary my-2" type="submit" [disabled]="form.invalid">Check out</button>
        </form>
    </div>
</div>
<ng-template #other_content>
    <div class="container my-5">
        <div class="alert alert-warning text-center" role="alert">
            <h1>Your cart is currently empty</h1>
        </div>
    </div>
</ng-template>
